$blue: #00b5ec;
$base: #16364f;
$deepblue: #337ab7;
$gray: #e2e2e2;
$yellow: #FFF200;
$green: #36a840;

$smwidth: 320;
$mmwidth: 375;
$lmwidth: 425;
$tablet: 768;

$sfont: 15;
$mfont: 16;
$lfont: 17;
